<h1>Editing Book</h1>
<%= form_with model:@book, local:true do |f| %>
 <div class="field-edit">
  <p>Title</p>
  <div class="title-field"><%= f.text_field:title %></div >
 </div>
 <div class="field-edit">
  <p>Body</p>
  <%= f.text_area:body %>
 </div>
 <div class="btn"><%= f.submit 'Update Book' %></div>
<% end %>
<p><span><%= link_to "Show", books_path %></span> | <span><%= link_to "Back", books_path %></span></p>
